<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.Name %></title>
</head>
<body>
    <h1><%= player.Name %></h1>
    <img src="<%= player.IMG %>"/>
    <h3><%= player.Position %></h3>
    <h3>Fantasy Points Per Game AVG: <%= player.fantasyPointsPerGame %></h3>
    <a href="/player/edit/<%= player._id %>">Edit</a><br />
    <a href="/">Back to Main Page</a>
</body>
</html>