<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Show!</title>
    <link rel="stylesheet" href="/teamshowstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Whisper&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
        <h1 id="first">Fantasy</h1>
        <h1 id="second">SiLk</h1>
      </div>
      <nav>
        <a id="edit" href="/team/edit/<%= team._id %>">Edit</a><br />
        <a id="main" href="/">Back to Main Page</a>
      </nav>
    <h1 id="name"><%= team.Name %></h1>
    <h2>Scoring Format: <%= team.Scoring %></h2>
    <h3>Players:</h3>
    <ul>
        <% let total = 0 %>
      <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.QB) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.QB2) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.RB) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.RB2) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.WR) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.WR2) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.TE) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.Flex) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.Flex2) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team['D/ST']) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %> <% for(let i=0;i < players.length;i++) { %> <%
      if(players[i]._id.toString()== team.K) { %>
        <% total = total + players[i].fantasyPointsPerGame %>
      <li><%= players[i].Position %><img src='<%= players[i].IMG %>' width="100" /><%= players[i].Name %> </li>
      <% } %> <% } %>
    </ul>
    <h3>Total Average Fantasy Points Per Game:</h3>
    <p><%= total %></p>
  </body>
</html>
